android/Kinect/.idea/compiler.xml
android/Kinect/.idea/copyright/profiles_settings.xml
android/Kinect/.idea/gradle.xml
android/Kinect/.idea/misc.xml
android/Kinect/.idea/modules.xml
android/Kinect/.idea/runConfigurations.xml